{% extends "base_generic.html" %}

{% block content %}

    <p>{{ book.get_image }}</p>
  <p><strong>作者:</strong>{{ book.author }}</p> <!-- author detail link not yet defined -->
  <p><strong>介绍:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>语言:</strong> {{ book.language }}</p>
  <p><strong>类型:</strong> {% for type in book.book_type.all %} {{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>售价:</strong> {{ book.selling_price }} 元</p>
  <div style="margin-left:20px;margin-top:20px">
  </div>
{% endblock %}