{% extends "base_generic.html" %}

{% block content %}
    {% csrf_token %}
    <h1>图书列表</h1>
    <table>
        <tr>
            <form role="search" method="get" id="searchform" action="{% url 'book_search' %}">
                {% csrf_token %}
                <input type="search" name="keyword" placeholder="搜索">
            <button type="submit">搜索</button>
            </form>
        </tr>

    </table>

    {% if book_list %}
        <table style=" width: 1000px; min-height: 25px; line-height: 25px; text-align: center; border-color:#b6ff00; border-collapse: collapse;">
            <tr>
                <td>图书</td>
                <td>作者</td>
                <td>销量</td>
                <td>单价</td>
                <td></td>
            </tr>

            {% for book in book_list %}
                <tr>
                    <td><a href="{{ book.get_absolute_url }}">{{ book.book_name }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.sales_volume }}</td>
                    <td class="selling_price">{{ book.selling_price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>这里没有图书%>_<%.</p>
    {% endif %}
    <script>
    </script>
{% endblock %}